body.dark {
	background-color: var(--gray-dark);
	color: #fff;
}

body.dark .card {
	background-color: var(--gray);
	color: #fff;
}

body.dark .text-muted {
	color: var(--light) !important;
}

body.dark #btnDark {
	color: var(--yellow);
}

body.dark .modal-content {
	background-color: var(--gray-dark);
}

body.dark .close {
	text-shadow: initial;
	opacity: initial;
	color: #fff;
}

body.dark a.reddit {
  color: #00bc8c;
}
body.dark a.reddit:hover {
  color: #007053;
}