header {
	display: table !important;
	width: 100%;
	padding-top: 10px;
}

h1 {
	display: table-cell;
}

#btn-container {
	display: table-cell;
    vertical-align: middle;
}

#btn-container > button {
	display: inline-block;
}

body, .card, a, .text-muted, #btnDark {
	transition: background-color 0.5s ease, color 0.5s ease;
}

body .card a {
	color: white;
	background-color: #0063cc;
	padding: 10px;
	border-radius: 5px;
	border-color: black;
}

#btnDark {
	margin-right: 5px;
}

.card {
	color: #212529;
}