:root{
  --reddit-orange: #FF4500;
}

header {
	display: table !important;
	width: 100%;
	padding-top: 10px;
}

h1 {
	display: table-cell;
}

#btn-container {
	display: table-cell;
  vertical-align: middle;
}

#btn-container > button, #sort-dropdown, #source-dropdown {
	display: inline-block;
}

.dropdown > .btn .fa-laugh-beam{
  color: gold;
}

.dropdown-item:hover{ 
  background-color: #007bff;
  color: #ffffff;
}

body, .card, a, .text-muted, #btnDark {
	transition: background-color 0.5s ease, color 0.5s ease;
}

.card {
  color: #212529;
  /*1dp elevation*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.btn, .dropdown-item, a.reddit {
  font-weight: bold;
}

a.reddit {
  color: var(--reddit-orange);
  font-weight: bold;
}

a.reddit:hover {
  background-color: var(--reddit-orange);
  color: white;
}

@media (orientation: portrait) {
  header > h1 {
    font-size: 1.5em;
  }
}