<%- include('../partials/header', {darkTheme: darkTheme}) %>
<div class="container">
	<header>
		<h1>Positive News:</h1>
		<div id="btn-container" class="float-right">
      <div id="sort-dropdown" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-star"></i> Featured</a>
        <span class="caret"></span></button>
        <ul id="#sort-dropdown" class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fas fa-star"></i> Featured</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-clock"></i> Latest</a></li>
          <li><a class="dropdown-item" href="#"><i class="fas fa-laugh-beam"></i> Happiest</a></li>
        </ul>
      </div>

      <div id="source-dropdown" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-type="news">&#x1F4F0; News <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" id="news">&#x1F4F0; News</a></li>
          <li><a class="dropdown-item" href="#" id="reddit"><i class="fab fa-reddit-alien fa-fw"></i> Reddit</a></li>
        </ul>
      </div>
      
      <button type="button" class="btn <% if (darkTheme) { %> btn-light <% } else { %> btn-dark <% } %>" id="btnDark"><i class="fas <% if (darkTheme) { %> fa-sun <% } else { %> fa-moon <% } %>"></i></button>

			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aboutModal"><i class="far fa-question-circle"></i></button>
    </div>    
	</header>
	<main>
		<p>Loading...</p>
	</main>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="aboutModalLabel">About</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				This site was built for <a href="https://northumbria.devpost.com/">NU: Flatten The Curve</a> by <a href="https://rtm516.co.uk/">Ryan Milner</a> and <a href="https://andrewpatton.dev/">Andrew Patton</a>.<br>
				It uses a filter list and NLP to remove any negative news from the latest news to help people see the positive things in the UK during the current times. It refreshes news data every 5 mins to reduce API usage.
			</div>
		</div>
	</div>
</div>
<%- include('../partials/footer') %>